.mongo-container {
    display: flex;
}
.lesson-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.lesson-heading {
    font-size: 1.5rem;
    font-style: italic;
    color: rgb(50, 50, 50);
    background-color: bisque;
}