<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MongoDB Course - Testing Framework</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="nav">
        <h1>MongoDB Consulting Tool</h1>
    </div>
    <div class="mongo-container">
        <ul id="books"></ul>
    </div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>