<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MongoDB Course - Testing Framework</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="nav">
        <h1>MongoDB Consulting Tool - My Library</h1>
    </div>
    <div class="mongo-container">
        <ul id="books"></ul>
    </div>
    <div class="lesson-container">
        <div class="lesson-01">
            <div class="lesson-heading">Lesson 01:     Creating a MongoDB database along with Admin database users</div>
            <div class="box-theory"></div>
            <div class="box-coding"></div>
        </div>
        <div class="lesson-02">
            <div class="lesson-heading">Lesson 02:     Creating a MongoDB Collection</div>
            <div class="box-theory"></div>
            <div class="box-coding"></div>
        </div>
        <div class="lesson-03">
            <div class="lesson-heading">Lesson 03:     Inserting Documents into a Collection</div>
            <div class="box-theory"></div>
            <div class="box-coding"></div>
        </div>
        <div class="lesson-04">
            <div class="lesson-heading">Lesson 04:     Inserting <strong>many</strong> Documents into a collection</div>
            <div class="box-theory"></div>
            <div class="box-coding"></div>
        </div>
        <div class="lesson-05">
            <div class="lesson-heading">Lesson 05:     Querying all Documents - find()</div>
            <div class="box-theory"></div>
            <div class="box-coding"></div>
        </div>
        <div class="lesson-06">
            <div class="lesson-heading">Lesson 06:     Querying for specific Documents</div>            <div class="box-theory"></div>
            <div class="box-coding"></div>
        </div>
        <div class="lesson-07">
            <div class="lesson-heading">Lesson 07:     Projections</div>
            <div class="box-theory"></div>
            <div class="box-coding"></div>
        </div>
        <div class="lesson-08">
            <div class="lesson-heading">Lesson 08:    Querying a portion of a Nested Array using $slice</div>
            <div class="box-theory"></div>
            <div class="box-coding"></div>
        </div>
        <div class="lesson-09">
            <div class="lesson-heading">Lesson 09:    Deleting Documents</div>
            <div class="box-theory"></div>
            <div class="box-coding"></div>
        </div>
        <div class="lesson-10">
            <div class="lesson-heading">Lesson 10:    Including Nested Fields in a find query</div>
            <div class="box-theory"></div>
            <div class="box-coding"></div>
        </div>
        <div class="lesson-11">
            <div class="lesson-heading">Lesson 11:    Querying for a Single Document with .findOne()</div>
            <div class="box-theory"></div>
            <div class="box-coding"></div>
        </div>
        <div class="lesson-12">
            <div class="lesson-heading">Lesson 12:    Querying for a portion of a String</div>
            <div class="box-theory"></div>
            <div class="box-coding"></div>
        </div>
        <div class="lesson-13">
            <div class="lesson-heading">Lesson 13:    Checking if a field exists</div>
            <div class="box-theory"></div>
            <div class="box-coding"></div>
        </div>
        <div class="lesson-14">
            <div class="lesson-heading">Lesson 14:    Querying for a portion of a String</div>
            <div class="box-theory"></div>
            <div class="box-coding"></div>
        </div>
        <script src="{{ url_for('static', filename='index.js') }}"></script>
    </div>
</body>
</html>